{% extends 'base.html' %}

{% block title %} Удаление сообщения {% endblock %}

{% block content %}

<div class="container mt-5">
        <h1 class="mb-4">Удалить сообщение {{ client.email }}</h1>
        <p>Вы уверены, что хотите сообщение "{{ message.body_message }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a href="{% url 'sending_messages:message_list' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>

{% endblock %}